body{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#navBar {
	background: red;
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.flavorText{
	background: gray;
	float:left;
	margin: 10px;

	width: 550px;

}

#wrapper{
	margin:0 auto;
	width:960px;
}

.social{
	margin:10px;
	float:left;
	padding: 5px;
	width:250px;
	background: blue;

}

img.med {
	width: 250px;
	height: 250px;
	float:left;
	margin: 0px 10px;
}

#footer{
	background: gray;
	clear:both;
}