body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0px;
	color:#ffffff;
}

h1{
	color:#ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
}

h2{
	color:#4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

a{
	color: #777777;
	text-decoration: none;
}

#nameTag{
	position:fixed;
	left:100px;
	background:#4aaaa5;
	width:150px;
	height:50px;
	padding: 10px;
}

#navBar {
	background: #ffffff;
	height:70px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-bottom: solid 1px #cccccc;
}

.navBox{
	position:fixed;
	left:580px;
	width:200px;
	height:60px;
	background: #ffffff;
}

.flavorText{
	color:#777777;
	background: #ffffff;
	float:left;
	margin: 25px 0px 0px 100px;
	padding: 20px;
	width: 550px;
	border: solid 1px #cccccc;


}

#wrapper{
	float:left;
	background-image: url("../images/wavegrid.png");
	width: 100%;
}

.social{
	position: fixed;
	left: 700px;
	float:left;
	margin: 25px;
	padding: 5px;
	width:250px;
	background: #ffffff;
	border: solid 1px #cccccc;


}

img.med {
	width: 250px;
	height: 250px;
	float:left;
	margin: 15px 15px 0px 0px;
}

#footer{
	border-top: solid 4px #4aaaa5;
	height:60px;
	background: #666666;
	padding: 0px;
	clear:both;
}